@import "mixins.scss";

// Set your colors
$primary: #54a0c0;
$primary-invert: findColorInvert($primary);

// $info: darken()#209cee;

// Socials colors
$facebook: #4267b2;
$facebook-invert: findColorInvert($facebook);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Linksa
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Customs classes
.has-bg-facebook {
  background: $facebook;
}

// Customs
.is-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-middle {
  align-items: center;
}

.flex-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.is-borderless {
  border: none !important;
}

.height100 {
  height: 100%;
}

.width100 {
  width: 100%;  
}

$box-shadow1: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

$box-shadow2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);


.social-icon {
  padding-right: 10px;

  & + & {
    padding-left: 10px;
  }
}