// app global css in SCSS form
@font-face {
  font-family: MarckScript;
  src: url(./fonts/MarckScript-Regular.ttf);
}

// declare a class which applies it
.logo-font {
  font-family: 'MarckScript';
}

#q-app {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.app-container {
  width: 100%;
  max-width: 1024px;
}